@import url("./../../.cache/wal/colors-waybar.css");

* {
  font-family: JetBrainsMono NerdFont;
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: @color7;
}

window#waybar > box {
  margin: 5px 0px 0px 0px;
  background-color: @background; 
  border-top: 3px;
  border-color: @color9;
  border-style: solid;
  border-radius: 18px 18px 0px 0px;
  box-shadow: 1px 1px 3px 1px #101010;
}

/*
#workspaces {
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: @color7;
    background: @color9;
    transition: all 0.3s ease-in-out;
}
*/

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @color7;
    background: @color2;
    opacity: 0.6;
    transition: all 0.4s ease-in-out;
}

#workspaces button.active {
    color: @color7;
    background: @color5;
    /* 4 */
    opacity: 1.0;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
  color: @color5;
  background: @color6;
  opacity: 1.0;
}


#workspaces button:hover {
    color: @color7;
    background: @color4;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-date,
#clock,
#pulseaudio,
#workspaces,
#language,
#custom-launcher,
#custom-menu,

#tray {
  background: @color9;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 11px 11px 11px 11px;
  margin-right: 6px;
  border-style: solid;
}

/* #tray > .active { */
/* transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682); */ 
/* } */


/* #expand .horizontal { */
  /* background: linear-gradient(54deg, rgba(130, 119, 180, 1) 0%, rgba(91, 75, 138, 1) 50%, rgba(82, 54, 137, 1) 100%); */
  /* animation: gradient 20s ease infinite; */
  /* animation: myAnim 2s ease 0s 1 normal forward; */
  /* animation: myAnim 2s ease 0s 1 normal forwards; */
  /* transition: all 0.4s ease-in-out; */
  /* transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682); */ 
/* } */
/* :enabled */

#expand {
transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
  /* transition: opacity 0.3s ease-in-out; */
}

#expand .launcher > * {
  background: linear-gradient(54deg, rgba(130, 119, 180, 1) 0%, rgba(91, 75, 138, 1) 50%, rgba(82, 54, 137, 1) 100%);
  /* transition: all 0.4s ease-in-out; */
  /* opacity: 0; */
  /* transform: translateY(20px); */
  /* transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; */
  /* animation: fadeInUp 0.5s ease-in-out forwards; */
  /* transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682); */ 
}

#expand.closed .launcher {
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}
#expand.open .launcher {
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

/* #expand .launcher:active > * { */
  /* background: linear-gradient(54deg, rgba(130, 119, 180, 1) 0%, rgba(91, 75, 138, 1) 50%, rgba(82, 54, 137, 1) 100%); */
  /* transition: all 0.4s ease-in-out; */
  /* transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682); */ 
/* } */



/* #expand.launcher { */
  /* background: #000000; */
  /* transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682); */ 
/* } */

#custom-menu {
    min-width: 12px;
    background: @color9;
    color: @color7;
    border-radius: 11px 11px 11px 11px;
    margin-top: 7px;
    padding-right: 12px;
    margin-bottom: 7px;
}



#custom-separator {
  padding: 0 0.6em;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#pulseaudio {
  margin-right: 2px;
  margin-left: 2px;
  color: @color7;
  background: @color9;
  border-radius: 11px 0px 0px 11px;
}

#clock {
  color: @color7;
  background: @color9;
  margin-right: 10px;
  margin-left: 2px;
  border-radius: 0px 11px 11px 0px;
}

#custom-date {
  background: @color2;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 11px 0px 0px 11px;
}

#window {
  color: @color7;
  background: @background;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#language {
  color: @color7;
  background: @color2;
  padding: 0 0.6em;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 0px 11px 11px 0px;
}

#custom-launcher {
  color: @color7;
  background: @color2;
  padding: 0 0.6em;
  margin-left: 10px;
  margin-right: 0px;
  border-radius: 12px;
}


#workspaces {
  background: @color9;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 15px 15px 15px 15px;
}

